*{
    font-family: sans-serif;
}
body{
    background-color: lightblue;

}
h1{
    text-align: center;
    margin-top: 3vw;
    
}
main {
    background-color: whitesmoke;
    width: 700px;
    border-radius: 20px;
    margin: auto;
}
div {

    padding: 2vw;
}