@charset 'UTF-8';


body{
    font: normal bold 1.6em sans-serif;    
    background-color: lightblue;
}
h1 {
    color: whitesmoke;
    font-size: 1.2em;
    text-align: center;
}
section {
    background-color: whitesmoke;
    margin: auto;
    padding: 30px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.254);
}
img {
    display: block;
    margin: auto;
    padding-bottom: 30px;