*{
    font-family: sans-serif;
    color: black;
}

td{
    
    padding: 0px;
}
input{
    border: none;
    width: 60px;
    height: 60px;
    background-color: gray;
}
input:hover{
    background-color: blueviolet;
}
input:active {
    background-color: blue;

}
.casas2{
    width: 122px;
}
.casas1{
    height: 122px;
}
#visor{
    width: 242px;
    margin-left: 2px;
}